  .form-control {
    border: 1px solid #ccc;
    position: relative;
    background: #ffffff6e;
    height: auto;
    margin-top: 20px;
    border-radius: 8;
    font-size: 18px;
    box-shadow: none;
}
.form-control:focus{
   box-shadow: none;
   border-color: #ccc;
   background-color: #F3F5F7;
}
.form-control {
    display: block;
    width: 100%;
       padding: 10px 20px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F3F5F7;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 8px;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
     box-shadow: none;
 
}
.input_deta {
    margin-bottom: 42px;
}

.input_deta h3{
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
}
.select-box{
  position: relative;
}
.select-box::before{
  position: absolute;
  content: '';
  position: absolute;
   
}
.upload_photo {
    border-radius: 8.711px;
    border: 1.089px dashed var(--Black-shades-black-20, rgba(0, 0, 0, 0.20));
    background: #F3F5F7;
    width: 97.997px;
    height: 97.997px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.042vw;
}
.upload_photo img{
  width: 100%;
}

 

@media (max-width: 1199px) {
    .form-control {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 12px;
}
}
@media (max-width: 767px) {
.input_deta {
    margin-bottom: 15px;
}

}