/* Importing Google Fonts and Boxicons */
/* @import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

@import "https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"; */

/* Global style settings */
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
font-family: "Inter", sans-serif;
}

/* Sidebar container styling */
.sidebar {
position: fixed;
left: 0;
top: 0;
height: 100%;
width: 100px; /* Default sidebar width */
background: #fff; /* Dark background color for sidebar */
padding: 6px 14px;
z-index: 99; /* Ensures sidebar is on top */
transition: all 0.5s ease; /* Smooth transition for width change */
transition: all 0.5s ease;
border-top: 1px solid rgba(0, 0, 0, 0.10);
border-right: 1px solid rgba(0, 0, 0, 0.10);
border-bottom: 1px solid rgba(0, 0, 0, 0.10);
background: #fff;
border-radius: 0 16px 16px 0;
overflow: hidden;
}

/* Logo details within the sidebar */
.sidebar .logo-details {
height: 60px;
display: flex;
align-items: center;
position: relative;
border-bottom: solid 1px rgba(0, 0, 0, 0.10);
padding-bottom: 40px;
margin-bottom: 27px;
padding-top: 40px;
}
.sidebar .logo-details .logo_name {
color: #fff;
font-size: 20px;
font-weight: 600;
opacity: 0; /* Hidden by default, shows when sidebar is expanded */
transition: all 0.5s ease;
}
.sidebar .logo-details #btn {
position: absolute;
top: 50%;
right: 0;
transform: translateY(-50%) rotate(-180deg);
font-size: 23px;
text-align: center;
cursor: pointer;
transition: all 0.5s ease;
width: 40px;
height: 40px;
}
.sidebar #btn img{
width: 100%;
}
.sidebar.open #btn {
transform: translateY(-50%) rotate(-0deg);
}

/* General icon styling */

/* Sidebar navigation list styling */
.sidebar .nav-list {
height: calc(100% - 140px); /* Leaves space for logo and profile */
padding-left: 0px;
}

/* Scrollbar styles for sidebar */

/* Sidebar navigation item styling */
.sidebar li {
position: relative;
margin: 8px 8px 8px 0;
list-style: none;
}
.sidebar li .tooltip {
position: absolute;
top: -20px;
left: calc(100% + 15px);
z-index: 3;
background: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
padding: 6px 12px;
border-radius: 4px;
font-size: 15px;
font-weight: 400;
opacity: 0; /* Hidden by default */
pointer-events: none;
transition: 0s;
}
.sidebar li:hover .tooltip {
opacity: 1; /* Shows tooltip on hover */
pointer-events: auto;
transition: all 0.4s ease;
top: 50%;
transform: translateY(-50%);
}

/* Link styling within sidebar items */
.sidebar li a {
display: flex;
height: 100%;
width: 100%;
border-radius: 12px;
align-items: center;
text-decoration: none;
transition: all 0.4s ease;
background: #fff; /* Default background for links */
padding: 10px 8px;
gap: 11px;
border-left: solid 4px transparent;
}
.sidebar li a:hover {
background: #F3F5F7;
color: #0252A9;
}
.sidebar li.active a{
background: #F3F5F7;
color: #0252A9;
border-left: solid 4px #0252A9;
}
.sidebar li.active a .sidebar_incon img{
filter: none;
}
.sidebar li.active a span{
color: #0252a9;
}
.sidebar li a:hover {
background: #F3F5F7;
/* border-left: solid 4px #0252A9; */
}

/* Link text and icon hover effects */
.sidebar li a:hover .links_name {
transition: all 0.5s ease;
}
.sidebar li a:hover .links_name {
color: #0252A9;
}

/* Link text styling */
.sidebar li a .links_name {
color: rgba(0, 0, 0, 0.60);
font-size: 18px;
font-weight: 400;
white-space: nowrap;
opacity: 0; /* Hidden by default */
pointer-events: none;
transition: 0.4s;
}

/* Icon styling within sidebar items */

/* Profile details styling */
.sidebar_incon {
width: 28px;
height: 28px;
}
.sidebar li img {
width: 100%;
object-fit: cover;
border-radius: 6px;
margin-right: 10px;
filter: grayscale(100%);
}
.sidebar li a:hover img{
filter: inherit;
}

/* Sidebar input (search) styling */

/* Search button styling */

/* Profile section styling */

/* Logout button styling */

/* topbar */

.topbar {
display: flex;
justify-content: space-between;
align-items: center;
background: #fff;
padding-top: 12px;
padding-bottom: 12px;
border-bottom: 1px solid #ccc;
z-index: 99;
transform: all 0.5s;
position: sticky;
top: 0;

}
/* .topbar.active {
position: fixed;
top: 0;
width: calc(100% - 100px);
} */

/* Dropdown menu common style */

/* Show dropdown when active */
/* topbar */

/* Expanded sidebar styles */
.sidebar.open {
width: 384px; /* Expanded sidebar width */

}
.sidebar.open .logo-details .logo_name {
opacity: 1; /* Shows logo name in expanded state */
}
.sidebar.open .logo-details #btn {
text-align: right;
}
.sidebar.open li .tooltip {
display: none; /* Hides tooltips when expanded */
}
.sidebar.open li a .links_name {
opacity: 1; /* Shows link names when expanded */
pointer-events: auto;
}
.sidebar.open ~ .home-section {
left: 384px; /* Adjusts home section to sidebar width */
width: calc(100% - 384px);

}

.sidebar li span {
display: none;
}
.sidebar.open span {
display: block;
}

/* Main content (home section) styling */
.home-section {
position: relative;
background: #F3F5F7; /* Light background for main content */
min-height: 100vh;
top: 0;
left: 100px;
width: calc(100% - 100px); /* Adjusts width to fit next to sidebar */
transition: all 0.5s ease;
z-index: 2;
}
.topbar{
padding-left: 30px;
padding-right: 30px;
}

.sidebar.open .logo-details .logo_name img {
width: 77%;
}
/* .grid-2-2 {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 15px;
margin-top: 20px;
} */

/* dropdown */
/* .topbar.fixed {
position: fixed;
} */

/* dropdown */

/* custom-select */
/* custom-select */
@media only screen and (max-width: 1535px) {
.sidebar .logo-details #btn {
width: 30px;
height: 30px;
}
}
@media only screen and (max-width: 1439px) {
.sidebar.open {
width: 290px;
}
.sidebar.open ~ .home-section {
left: 290px;
width: calc(100% - 290px);
}
}
@media only screen and (max-width: 1199px) {

.sidebar li a .links_name {
font-size: 16px;

}
.sidebar.open {
width: 240px;
}
.sidebar.open ~ .home-section {
left: 240px;
width: calc(100% - 240px);
}
.sidebar.open .logo-details .logo_name img {
width: 70%;
}
}

@media only screen and (max-width: 991px) {
.sidebar.open ~ .home-section {
left: 0;
width: 100%;
}
.sidebar, .sidebar.open {
width: 50%;
}
.sidebar li span {
display: block !important;
}
.sidebar li a .links_name{
opacity: 1;
}
.sidebar .logo-details .logo_name{
opacity: 1;
}

.sidebar .logo-details .logo_name img, .sidebar.open .logo-details .logo_name img {
width: 75%;
}
.sidebar .logo-details #btn {
transform: translateY(-50%) rotate(0deg);
}
.sidebar.open {
transform: translateX(-100%);
position: fixed;
}
.home-section {
left: 0;
width: 100%;

}

}

@media only screen and (max-width: 767px) {
.topbar {
padding-left: 15px;
padding-right: 15px;
}
.sidebar, .sidebar.open {
width: 80%;
}
}