/* Importing Google Fonts and Boxicons */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

@import "https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css";

/* Global style settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body{
   font-family: "Archivo", sans-serif;
}


.header_row {
    display: flex;
    justify-content: space-between;
}



/* Sidebar container styling */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100px; /* Default sidebar width */
  background: #fff; /* Dark background color for sidebar */
  padding: 6px 14px;
  z-index: 99; /* Ensures sidebar is on top */
  transition: all 0.5s ease; /* Smooth transition for width change */
 transition: all 0.5s ease;
    border-top: 1px solid   rgba(0, 0, 0, 0.10);
    border-right: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    background: #fff;
border-radius: 0 16px 16px 0;
overflow: hidden;
}

/* Logo details within the sidebar */
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
      border-bottom: solid 1px rgba(0, 0, 0, 0.10);
    padding-bottom: 40px;
    margin-bottom: 27px;
    padding-top: 40px;
}
.sidebar .logo-details .icon {
  opacity: 0; /* Hidden by default, shows when sidebar is expanded */
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0; /* Hidden by default, shows when sidebar is expanded */
  transition: all 0.5s ease;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
transform: translateY(-50%) rotate(-180deg);
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
}
.sidebar.open #btn img{
  width: 100%;
}
.sidebar.open #btn {
    transform: translateY(-50%) rotate(-0deg);
}

/* General icon styling */
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px; /* Centers icon vertically */
}

/* Sidebar navigation list styling */
.sidebar .nav-list {
  height: calc(100% - 140px); /* Leaves space for logo and profile */
}

/* Scrollbar styles for sidebar */
.sidebar .scroll {
  overflow-y: auto; /* Enables vertical scrolling */
  scrollbar-width: thin;
}
.sidebar .scroll::-webkit-scrollbar {
  width: 8px;
  background: #262440; /* Scrollbar background color */
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-thumb {
  background: #262440; /* Scrollbar thumb color */
  border-radius: 5px;
}
.sidebar .scroll::-webkit-scrollbar-track {
  background: #171526; /* Scrollbar track color */
  border-radius: 5px;
}

/* Sidebar navigation item styling */
.sidebar li {
  position: relative;
  margin: 8px 8px 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0; /* Hidden by default */
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1; /* Shows tooltip on hover */
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

/* Link styling within sidebar items */
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #fff; /* Default background for links */
  padding: 10px 8px;
  gap: 11px;
    border-left: solid 4px  transparent;
}
.sidebar li a:hover {
    background: #F3F5F7;
    color: #0252A9;
}
.sidebar li.active a{
    background: #F3F5F7;
    color: #0252A9;
      border-left: solid 4px #0252A9;
}
.sidebar li.active a .sidebar_incon img{
  filter: none;
}
.sidebar li.active a span{
  color: #0252a9;
}
.sidebar li a:hover {
    background: #F3F5F7;
    /* border-left: solid 4px #0252A9; */
}

/* Link text and icon hover effects */
.sidebar li a:hover .links_name {
  transition: all 0.5s ease;
}
.sidebar li a:hover i {
  transition: all 0.5s ease;
}
.sidebar li a:hover .links_name, .sidebar li a:hover i {
  color: #0252A9;
}

/* Link text styling */
.sidebar li a .links_name {
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0; /* Hidden by default */
  pointer-events: none;
  transition: 0.4s;
}

/* Icon styling within sidebar items */
.sidebar li i {
  height: 50px;
  line-height: 50px; /* Centers icon vertically */
  font-size: 18px;
  border-radius: 12px;
  color: rgba(0, 0, 0, 0.60);
}

/* Profile details styling */
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar_incon {
    width: 28px;
    height: 28px;
}
.sidebar li img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
      filter: grayscale(100%);
}
.sidebar li a:hover img{
    filter: inherit;
}

/* Sidebar input (search) styling */
.sidebar input {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 50px; /* Default width for search input */
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31; /* Input background color */
}

/* Search button styling */
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover {
  background: #FFF; /* Hover background color */
  color: #11101d; /* Hover text color */
}

/* Profile section styling */
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px; /* Default width for profile section */
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar li.profile .name {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

/* Logout button styling */
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px; /* Centers logout icon vertically */
  border-radius: 0px;
  transition: all 0.5s ease;
}

/* topbar */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
 padding-top: 12px;
 padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  z-index: 99;
  transform: all 0.5s;
  
}
.topbar.active {
    position: fixed;
    top: 0;
    width: calc(100% - 384px);
}

.topbar .search-box input {
  background: #f5f5f5;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  outline: none;
 font-size: 17px;
    width: 353px;
    height: 60px;
}

.topbar .right-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar .icon-btn {
  background: #f5f5f5;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.topbar .icon-btn .bell {
  font-size: 18px;
}

.topbar .user-menu {
display: flex;
    align-items: center;
    background: #f5f5f5;
    padding: 4px 10px 4px 8px;
    border-radius: 999px;
    cursor: pointer;
    gap: 6px;
    position: relative;
    width: 100%;
}

.topbar .user-menu .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.topbar .user-menu .username {
  font-size: 16px;
}

.topbar .user-menu .arrow {
  font-size: 16px;
  margin-left: 20px;
}

/* Dropdown menu common style */
.topbar .dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: none;
  min-width: 160px;
  z-index: 10;
}

.topbar .dropdown-menu a, 
.dropdown-menu p {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.topbar .dropdown-menu a:hover {
  background: #f5f5f5;
}

/* Show dropdown when active */
.topbar .dropdown.active .dropdown-menu {
  display: block;
}
/* topbar */



    .appointmen_box table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
    }
    .appointmen_box table th, table td {
      text-align: left;
      padding: 12px;
      border-bottom: 1px solid #eee;
      font-size: 18px;
    }
    .appointmen_box table th {
      background: #f9f9f9;
    }



/* Expanded sidebar styles */
.sidebar.open {
  width: 384px; /* Expanded sidebar width */
  
}
.sidebar.open .logo-details .icon {
  opacity: 1; /* Shows icon in expanded state */
}
.sidebar.open .logo-details .logo_name {
  opacity: 1; /* Shows logo name in expanded state */
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar.open li .tooltip {
  display: none; /* Hides tooltips when expanded */
}
.sidebar.open li a .links_name {
  opacity: 1; /* Shows link names when expanded */
  pointer-events: auto;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%; /* Expands input width */
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open li.profile {
  width: 384px; /* Expands profile section */
}
.sidebar.open .profile #log_out {
  width: 50px; /* Shrinks logout button */
  background: none;
}
.sidebar.open ~ .home-section {
  left: 384px; /* Adjusts home section to sidebar width */
  width: calc(100% - 384px);
 
}
.sidebar li span {
    display: none;
}
.sidebar.open span {
    display: block;
}

/* Main content (home section) styling */
.home-section {
  position: relative;
  background: #E4E9F7; /* Light background for main content */
  min-height: 100vh;
  top: 0;
      left: 100px;
     width: calc(100% - 100px); /* Adjusts width to fit next to sidebar */
  transition: all 0.5s ease;
  z-index: 2;
}
.home_section_box, .topbar{
     padding-left: 30px;
  padding-right: 30px;
}
.home_section_box{
  margin-top: 35px;
  padding-bottom: 35px;
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.sidebar.open .logo-details .logo_name img {
    width: 77%;
}





.top-cards {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 15px;
    }
    .card {
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 3px 8px rgba(0,0,0,0.05);
      width: 100%;
    }
    .top-cards .card h3{
      font-size: 16px;
      color: rgba(0, 0, 0, 0.60);
      margin-bottom: 7px;
  }
    .top-cards .card p {
    font-size: 24px;
    color: #000;
    font-weight: 600;
    line-height: normal;
}
.card.card_button {
    background: transparent;
    box-shadow: none;
    padding-right: 0;
    display: flex;
    justify-content: end;
}
.doctors_count_box .card {
    width: 100%;
}
 

    .grid-2, .doctors_count {
      display: flex;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-top: 20px;
      width: 100%;
    }
    .doctors_count_box .card{
      width: 50%;
    }
    /* .grid-2-2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      margin-top: 20px;
    } */
       .chart-container {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .chart-wrapper {
      position: relative;
      width: 271px;
      height: 271px;
    }
    .center-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      color: #0044aa;
    }
    .center-text small {
      display: block;
      font-size: 13px;
      color: #666;
      font-weight: normal;
      margin-bottom: 3px;
    }
    .chart-legend {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    .legend-item {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #333;
    }
    .legend-color {
      width: 12px;
      height: 12px;
      border-radius: 3px;
      margin-right: 8px;
    }

 
    .card.card_button button {
    border-radius: 8px;
     background: #0252a9;
    padding: 12px 34px;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 10px;
}
.card.card_button button .add_content{
  width: 90%;
}
.add_icon {
    width: 13px;
    height: auto;
    display: flex;
    align-items: center;
}
.add_icon img {
    width: 100%;
}




    .doctors_count_box{
      width: 100%;
    }
    .doctors_count #donutChart, .doctors_count #barChart {
    width: 100% !important;
    height: auto !important;
}

    

/* dropdown */
    .dropdown {
  width: 100%;
 
  font-weight: 300;
}
.topbar #btn {
    display: none;
}
.card_top_select {
    display: flex;
    gap: 0px 20px;
}
@media (min-width: 768px) {
  .dropdown {
    width: 500px;
  }
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__select {
  transform: scaleY(1);
  opacity: 1;
}
.dropdown__switch:checked + .dropdown__options-filter .dropdown__filter:after {
  transform: rotate(-135deg);
}
.dropdown__options-filter {
  width: 100%;
  cursor: pointer;
}
.dropdown__filter {
  position: relative;
  display: flex;
  padding: 20px;
  color: #595959;
  background-color: #fff;
  border-radius: 18px;
  font-size: 14px;
  transition: 0.3s;
}
.dropdown__filter:focus {
  outline: none;
}
.dropdown__filter::after {
  position: absolute;
  top: 45%;
  right: 20px;
  content: "";
  width: 10px;
  height: 10px;
  border-right: 1px solid #595959;
  border-bottom: 1px solid #595959;
  transform: rotate(45deg) translateX(-45%);
  transition: 0.3s ease-in-out;
}
.dropdown__select {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  border-radius: 18px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.dropdown__select-option {
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #e9ecef;
  transition: 0.3s;
}
.dropdown__select-option:last-of-type {
  border-bottom: 0;
}
.dropdown__select-option:hover {
  background-color: #e9ecef;
}


/* dropdown */



/* custom-select */
.card_top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}
.custom-select-wrapper {
  position: relative;
   font-family: sans-serif;
}

.custom-select-btn {
     width: 100%;
    text-align: left;
    padding: 6px 33px 6px 23px;
    border: none;
    background: #E6EEF6;
    cursor: pointer;
    border-radius: 48px;
    position: relative;
        font-size: 16px;
    font-weight: 400;
}

.custom-select-btn .caret {
    float: right;
     position: absolute;
    right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 12.375px;
height: 6.75px;
}
.custom-select-btn .caret::before{
  content: '';
  background: url(../images/down_arrow.svg);
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 12.375px;
height: 6.75px;
}
.custom-dropdown {
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 250px;
  overflow-y: auto;
  z-index: 999;
      min-width: 20rem;
    right: 0;
}

.search-box {
  padding: 5px;
}

.search-box input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.custom-options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-options li {
  padding: 8px 12px;
  cursor: pointer;
}

.custom-options li:hover {
  background: #f2f2f2;
}

.custom-options .selected {
  background: #007bff;
  color: #fff;
}
.tablecontainer {
    overflow-x: auto;
}

/* custom-select */



  @media only screen and (max-width: 1600px) {
.top-cards .card p {
    font-size: 18px;
}
.card_top_content {
    margin-bottom: 10px;
}
.card.card_button button {
    font-size: 18px;
}
  }
  @media only screen and (max-width: 1535px) {
  .top-cards .card h3 {
    font-size: 14px;
   
}
.card.card_button button {
    padding: 12px 26px;
}
.appointmen_box table th, table td {
     font-size: 16px;
}
.sidebar .logo-details #btn {
   width: 30px;
  height: 30px;
}
  }
  @media only screen and (max-width: 1439px) {
  .sidebar.open {
    width: 290px;
}
.sidebar.open ~ .home-section {
    left: 290px;
    width: calc(100% - 290px);
}
.topbar.active {
    width: calc(100% - 290px);
}
  }
  @media only screen and (max-width: 1365px) {
      .card.card_button button
 
 {
        padding: 12px 18px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .top-cards {
        grid-template-columns: repeat(2, 1fr);
    }
 
 
.sidebar li a .links_name {
     font-size: 16px;
   
}
    .sidebar.open {
        width: 240px;
    }
        .sidebar.open ~ .home-section {
        left: 240px;
        width: calc(100% - 240px);
    }
    .sidebar.open .logo-details .logo_name img {
    width: 70%;
}
.grid-2, .doctors_count {
   flex-direction: column;
}
.card.card_button {
    
    justify-content: flex-start;
}
.doctors_count_box .card{
  width: 100%;
}
.topbar .search-box input {
     height: 48px;
}
.chart-wrapper {
    position: relative;
    width: 350px;
    height: 350px;
}
    .topbar.active {
        width: calc(100% - 240px);
    }
  }


  @media only screen and (max-width: 767px) {
  .topbar.active {
        width: calc(100% - 104px);
    }
  }